<! DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Consultar Pedido</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/estilo.css" rel="stylesheet">
  </head>
<body>

<div id="main" class="container">
  <h3 class="page-header">Consultar Pedido</h3>

  <nav class="navbar navbar-fixed-top topo">
    <div class="container-fluid">
      <div class="navbar-header">
        <h5 class="navbar-brand" href="">Consultar Pedido</h5>
      </div>
    </div>
  </nav>

  <table class="table table-hover">
       <thead>
         <tr>
           <th>ID</th>
           <th>Nome Pedido</th>
           <th>Descrição</th>
           <th>Preço</th>
           <th>Quantidade</th>
         </tr>
       </thead>
       <tbody>
         <tr>
           <th><%=    getId()   =></th>
           <th><%=    getNome()   =></th>
           <th><%=    getDesc()   =></th>
           <th><%=    getPreco()   =></th>
           <th><%=    getQuant()   =></th>
         </tr>
         <tr>
           <th><%=    getId()   =></th>
           <th><%=    getNome()   =></th>
           <th><%=    getDesc()   =></th>
           <th><%=    getPreco()   =></th>
           <th><%=    getQuant()   =></th>
         </tr>
         <tr>
           <th><%=    getId()   =></th>
           <th><%=    getNome()   =></th>
           <th><%=    getDesc()   =></th>
           <th><%=    getPreco()   =></th>
           <th><%=    getQuant()   =></th>
         </tr>
         <tr>
           <th><%=    getId()   =></th>
           <th><%=    getNome()   =></th>
           <th><%=    getDesc()   =></th>
           <th><%=    getPreco()   =></th>
           <th><%=    getQuant()   =></th>
         </tr>

       </tbody>
     </table>
  </div>
</body>
</html>
